* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: snow;
}

button {
  border-radius: 15px;
  height: 30px;
  width: 150px;
  font-size: 20px;
  text-align: center;
}
