.style-rgb {
  background: -webkit-linear-gradient(
    35deg,
    #1a73e8 0%,
    #ff0099 20%,
    #ff6600 40%,
    #ffcc00 60%,
    #33cc33 80%,
    #1a73e8 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.style-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Styles Animation
*/
@keyframes rgb-animation {
  to {
    background-position: 4500vh;
  }
}

.style-rgb-animation {
  background-image: linear-gradient(
    to right,
    #1a73e8 0%,
    #ff0099 20%,
    #ff6600 40%,
    #ffcc00 60%,
    #33cc33 80%,
    #1a73e8 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rgb-animation 600s linear infinite alternate;
}