/*
 * Cabecalho
*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.header-container-left {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.header-container-main {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-main ul {
  display: flex;
  list-style-type: none;
  padding-right: 100px;
}

.header-main-list {
  gap: 25px;
}

.header-main {
  margin-left: 20px;
}

.header-main-ul li {
  margin-left: 20px;
  padding-right: 20px;
}

/*
 * Imagem de fundo
*/
.background-image {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60%;
  background: url("../../resources/images/Background.jpeg");
  background-size: cover;
  filter: blur(8px) opacity(3%) grayscale(100%);
  background-attachment: fixed;
  z-index: -1;
  animation: background-animation 1200s infinite linear;
}

@keyframes background-animation {
  to {
    background-position: center top 4500vh;
  }
}

.search-container {
  height: 55vh;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.search-title {
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-top: 60px;
  white-space: nowrap;
}
.search-description {
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
}

.content-section {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.logo {
  width: 100px;
  height: 80px;
}

/*
 * Botoes de redirecionamento
*/
.redirect-button {
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*
 * Categoria de tipos
*/
.categories {
  width: 100%;
}
.category-types {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 185px;

  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  color: #ffffff;
  font-family: "Chakra Petch";
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  padding: 5px 19px;
  text-decoration: none;
  border-radius: 0;
  z-index: 1;
}
.category-button.active,
.category-button:active,
.category-button:active:hover {
  background-color: transparent;

  color: rgb(102, 255, 0);
}
.category-button:hover {
  background: transparent;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgb(255, 230, 0);
}

.search-input {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  color: #ffffff;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
  text-align: left;

  padding: 5px 19px;
  text-decoration: none;
  border-radius: 0;
}
.search-input:focus {
  border-color: transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search-input:active {
  background: transparent;
  background-color: transparent;
  border: 1px solid transparent;
}

/*
 * Resultados
*/
.results-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: auto;

  padding-top: 20px;
  padding-bottom: 20px;
}
.results-container {
  display: grid;
  grid-auto-rows: 510px;
  grid-template-columns: repeat(auto-fill, minmax(0px, 300px));

  justify-content: center;

  padding: 10px;

  width: 90%;
  min-height: 300px;

  background-color: rgb(0, 0, 0);

  overflow: auto;

  border-width: 2px 2px 2px 2px;
  border-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(70, 69, 69) 100%);
  border-image-slice: 9;
  border-style: solid;
  gap: 10px;
}

.search-form {
  position: absolute;
  width: 100%;
  min-width: 1300px;
  display: flex;
  align-items: right;
  justify-content: right;
}
@media (max-width: 1215px) {
  .search-form {
    display: none;
  }
}
@media (min-width: 1215px) {
  .search-form {
    display: flex;
  }
}

.search-group {
  display: flex;
  justify-content: space-around;
  height: 25px;
  width: 165px;

  background-color: #52525200;
  border: 1px solid #52525248;
  cursor: pointer;
}

.search-group:hover {
  border: #ffb08b93 solid 1px;
}

.search-group:active {
  top: 1px;
  background: transparent;
}

.input-search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
}

.align-insile-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vertical-line {
  width: 1px;
  height: 30px;
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgb(59, 59, 59) 50%,
    transparent 100%
  );
}

/*
 * Cartão
*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
    345deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  box-shadow: inset 0 1px 1px #ffffff1a;
  overflow: hidden;
  position: relative;

  width: max-content/3;

  gap: 10px;

  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.9);
}

.card-image img {
  padding: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: brightness(0.75);
  transition: filter 0.5s ease;
}

.card:hover .card-image img {
  filter: brightness(1);
}

.card-price {
  position: absolute;
  top: 10px;
  right: 10px;
  
  margin: 0;
  
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #424242;
  
  text-align: right;
  
  align-items: right;
  justify-content: right;

  width: 25%;
}

.card-content {
  padding: 20px;
  background-color: rgba(250, 12, 12, 0);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
  overflow-y: scroll;
  overflow-x: hidden;

  width: 90%;
  height: 60%;
}

.card-content::-webkit-scrollbar {
  width: 3px;
}

.card-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

.card-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.card-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.card-content h3 {
  font-size: 25px;
  color: #00d4ff;
  font-family: "Orbitron", sans-serif;
}

.card-content h4 {
  font-size: 14px;
  color: #fff490b9;
  font-family: "Orbitron", sans-serif;
}

.card-content {
  color: #909090;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
}

.card-content p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;

  color: #909090;

  margin-top: 30px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 20%;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
}

.card-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80%;

  background-color: rgba(0, 255, 106, 0.63);
  overflow: hidden;
  
  border-radius: 10px;

  border: transparent solid 1px;

  font-size: 22px;
  color: rgb(13, 51, 28);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.card-more-btn:hover {
  background-color: white;
  transition: all 1s ease-out;
}

.card-more-btn:active {
  background-color: rgba(0, 255, 106, 0.63);
  transition: all 1ms ease-out;
}
