/*
 * Cabecalho
*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.header-container-left {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.header-container-main {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-main ul {
  display: flex;
  list-style-type: none;
  padding-right: 100px;
}

.header-main-list {
  gap: 25px;
}

.header-main {
  margin-left: 20px;
}

.header-main-ul li {
  margin-left: 20px;
  padding-right: 20px;
}

/*
 * Imagem de fundo
*/
.background-image {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60%;
  background: url("../../resources/images/Background.jpeg");
  background-size: cover;
  filter: blur(8px) opacity(3%) grayscale(100%);
  background-attachment: fixed;
  z-index: -1;
  animation: background-animation 1200s infinite linear;
}

@keyframes background-animation {
  to{
    background-position: center top 4500vh;
  }
}

.search-container {
  height: 55vh;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.search-title {
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-top: 60px;
}
.search-description {
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
}

.content-section {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.logo {
  width: 100px;
  height: 80px;
}

/*
 * Botoes de redirecionamento
*/
.redirect-button {
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*
 * Categoria de tipos
*/
.categories {
  width: 100%;
}
.category-types {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 185px;

  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  color: #ffffff;
  font-family: "Chakra Petch";
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  padding: 5px 19px;
  text-decoration: none;
  border-radius: 0;
  z-index: 1;
}
.category-button:active,
.category-button:active:hover {
  background-color: transparent;

  color: rgb(102, 255, 0);
}
.category-button:hover {
  background: transparent;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgb(255, 230, 0);
}

.search-input {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  color: #ffffff;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
  text-align: left;

  padding: 5px 19px;
  text-decoration: none;
  border-radius: 0;
}
.search-input:focus {
  border-color: transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search-input:active {
  background: transparent;
  background-color: transparent;
  border: 1px solid transparent;
}

/*
 * Resultados
*/
.results-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.results-container {
  width: 90%;
  height: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);

  border-width: 2px 2px 2px 2px;
  border-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(70, 69, 69) 100%);
  border-image-slice: 9;
  border-style: solid;
}

.search-form {
  position: absolute;
  width: 100%;
  min-width: 1300px;
  display: flex;
  align-items: right;
  justify-content: right;
}
@media (max-width: 1215px) {
  .search-form {
    display: none;
  }
}
@media (min-width: 1215px) {
  .search-form {
    display: flex;
  }
}

.search-group {
  display: flex;
  justify-content: space-around;
  height: 25px;
  width: 165px;

  background-color: #52525200;
  border: 1px solid #52525248;
  cursor: pointer;
}

.search-group:hover {
  border: #ffb08b93 solid 1px;
}

.search-group:active {
  top: 1px;
  background: transparent;
}

.input-search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
}

.align-insile-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vertical-line {
  width: 1px;
  height: 30px;
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgb(59, 59, 59) 50%,
    transparent 100%
  );
}
